<div class="container-fluid navbarDesign">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5 searchBarDesign">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input type="text" (keyup)="onKey($event)" class="form-control" placeholder="Search Movies,Events,Plays...." aria-label="Username" aria-describedby="basic-addon1" >
      </div>
    </div>

    <div class="col-md-3">

    </div>
  </div>


  <div class="row childComponentDesign">
        <div class="col-md-3">

        </div>
        <div class="col-md-1"  (click)="onTabClick('movie')" >
          <!-- Movie<app-movie *ngIf=""></app-movie> -->  Movie
        </div>
        <div class="col-md-1"  (click)="onTabClick('event')">
          Events
        </div>
        <div class="col-md-1" (click)="onTabClick('play')">
          Play
        </div>

  </div>
  </div>

  <div class="row" *ngIf="individualMovies">
      <app-individual></app-individual>
    </div>
<div class="container" *ngIf="homePageMovie">
  <div class="row">

  <app-movie>
    Movie
  </app-movie>
</div>
<div class="row">
    <span> Events </span>
  <app-events>

 </app-events>
</div>
<div class="row">
  <span> Plays </span>
<app-plays>

</app-plays>
</div>
</div>

<div class="container">
  <app-movie *ngIf="this.movies"></app-movie>
  <app-events *ngIf="this.events"></app-events>
  <app-plays *ngIf="this.plays"></app-plays>
</div>
