<div class="row" style="padding-top: 50px;">
    <div class="col-md-4" >
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/images/bharatHome.jpg" alt="Card image cap">
            <div class="card-body">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/images/kabirsinghHome.jpg" alt="Card image cap">
            <div class="card-body">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../../assets/images/KalankHome.jpg" alt="Card image cap">
              <div class="card-body">
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
        </div>
  </div>

  <div class="section" *ngIf="this.showAllMovie">
    <div class="row">
      <div class="col-md-4" >
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/images/bharatHome.jpg" alt="Card image cap">
            <div class="card-body">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
           </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/images/kabirsinghHome.jpg" alt="Card image cap">
            <div class="card-body">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../../assets/images/KalankHome.jpg" alt="Card image cap">
              <div class="card-body">
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4" >
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/images/bharatHome.jpg" alt="Card image cap">
            <div class="card-body">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/images/kabirsinghHome.jpg" alt="Card image cap">
            <div class="card-body">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../../assets/images/KalankHome.jpg" alt="Card image cap">
              <div class="card-body">
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
        </div>
    </div>
  </div>
